.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-area {
  display: flex;
  flex: 1;
}

.content-area {
  flex: 1;
  padding: 32px;
    margin-left: 260px;
  background: #f8fafc;
  overflow-y: auto;
}


@media (max-width: 992px) {
  .main-area {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e2e8f0;
  }
  .content-area {
    margin-left: 0;
  }
}